<section class="catalog">
  <div class="container">
    <h1 class="catalog-title">Catalog</h1>
    <div class="cards">
      <ul class="catalog-list">

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">
              <img
                srcset="../src/img/catalog/fenix.webp 1x,
                ../src/img/catalog/fenix@2x.webp 2x"
                src="../img/catalog/fenix.webp"
                alt = "watch"/>
            </div>

            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Fenix 7X Pro Sapphire Solar </h3>
              <p class="catalog-text">€500</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <img
              srcset="../src/img/catalog/marq.webp 1x,
              ../src/img/catalog/marq@2x.webp 2x"
              src="../src/img/catalog/marq.webp"
              alt = "watch"/>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Marq Athlete </h3>
              <p class="catalog-text">€450</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <img
              srcset="../src/img/catalog/descent.webp 1x,
              ../src/img/catalog/descent@2x.webp 2x"
              src="../src/img/catalog/descent.webp"
              alt = "watch"/>


            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Descent MK1 </h3>
              <p class="catalog-text">€680</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <img
              srcset="../src/img/catalog/delta.webp 1x,
              ../src/img/catalog/delta@2x.webp 2x"
              src="../src/img/catalog/delta.webp"
              alt = "watch"/>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin D2 Delta PX</h3>
              <p class="catalog-text">€380</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <img
              srcset="../src/img/catalog/pro-solar.webp 1x,
              ../src/img/catalog/pro-solar@2x.webp 2x"
              src="../src/img/catalog/pro-solar.webp"
              alt = "watch"/>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Garmin Fenix 6 Pro Solar</h3>
              <p class="catalog-text">€400</p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <div class="wrapper-img">

              <img
              srcset="../src/img/catalog/date-steel.webp 1x,
              ../src/img/catalog/date-steel@2x.webp 2x"
              src="../src/img/catalog/date-steel.webp"
              alt = "watch"/>

            </div>
            <div class="description-catalog">
              <h3 class="catalog-title-item">Tube Watch S42 Date Steel With Black Case</h3>
              <p class="catalog-text">€395</p>
            </div>
          </div>
        </li>
      </ul>


  </div>
  <button class="catalog-button" type="button">Show more</button>
</section>
