<section class="catalog">
  <div class="container">
    <h1>Catalog</h1>
    <div class="cards">
      <ul class="catalog-list">
        <li class="catalog-item">
          <div class="wrapper">
            <img src="" alt="">
            <div>
              <h3 class="catalog-title-item"></h3>
              <p class="catalog-text"></p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <img src="" alt="">
            <div>
              <h3 class="catalog-title-item"></h3>
              <p class="catalog-text"></p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <img src="" alt="">
            <div>
              <h3 class="catalog-title-item"></h3>
              <p class="catalog-text"></p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <img src="" alt="">
            <div>
              <h3 class="catalog-title-item"></h3>
              <p class="catalog-text"></p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <img src="" alt="">
            <div>
              <h3 class="catalog-title-item"></h3>
              <p class="catalog-text"></p>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <div class="wrapper">
            <img src="" alt="">
            <div>
              <h3 class="catalog-title-item"></h3>
              <p class="catalog-text"></p>
            </div>
          </div>
        </li>

      </ul>


  </div>
  <button class="catalog-button" type="button">Show more</button>
</section>
