<section class="contact-us">
  <div class="container">
    <h2 class="contact-us-header">Contact Us</h2>
    <div class="bgr-form-wrapper">
    <p class="form-description">
      Please use the form below to contact us. Enter your name, email, phone,
      and message and we'll get back to you shortly.
    </p>
    <form>
      <div class="form-wrapper-container">
        <label for="user-name" class="form-user-label">Name</label>
          <input
            type="text"
            class="form-user-input"
            id="user-name"
            name="user-name"
            required
          />
      </div>      
      <div class="form-wrapper-container">
        <label for="form-email" class="form-user-label">Email</label>
          <input
            type="email"
            class="form-user-input"
            id="form-email"
            name="form-email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})+\.([A-z]{2,8})"
            required
          />
      </div>
      <div class="form-wrapper-container">
        <label for="form-phone" class="form-user-label">+380</label>
          <input
            type="tel"
            class="form-user-input"
            id="form-phone"
            name="form-phone"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            required
          />
        </div>
      <div class="form-wrapper-container ">
        <label class="form-user-label" for="user-comment">Comment </label>
        <textarea
          class="form-comment"
          id="user-comment"
          name="user-comment"
          placeholder="Text input"
        >
        </textarea>
      </div>
      <button class="button-form-contact" type="submit">Send</button>
      </div>
      </div>
    </form>
  </div>
</section>
