<section class="contact-us">
  <div class="container contact-us-container">
    <h2 class="contact-us-header">Contact Us</h2>
    <div class="bgr-form-wrapper">
    <p class="form-description">
      Please use the form below to contact us. Enter your name, email, phone,
      and message and we'll get back to you shortly.
    </p>
    <form>
      <div class="form-wrapper-container">
        <label for="user-name" class="form-user-label"></label>
          <input
            type="text"
            class="form-user-input"
            id="user-name"
            name="user-name"
            placeholder="Name"
            required
          />
      </div>      
      <div class="form-wrapper-container">
        <label for="form-email" class="form-user-label"></label>
          <input
            type="email"
            class="form-user-input"
            id="form-email"
            name="form-email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})+\.([A-z]{2,8})"
            placeholder="Email"
            required
          />
      </div>
      <div class="form-wrapper-container">
        <label for="form-phone" class="form-user-label"></label>
          <input
            type="tel"
            class="form-user-input"
            id="form-phone"
            name="form-phone"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            placeholder="+380"
            required
          />
        </div>
      <div class="form-wrapper-container-comment"><label class="form-user-label" for="user-comment"></label>
        <textarea class="form-comment"
          id="user-comment"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
      </div>
      <button class="button-form-contact" type="submit">Send</button>
      </div>
      </div>
    </form>
     <picture class="watch-contact-us">
  <source media="(max-width: 767px)" srcset="img/contact-us/contact-us-mob.webp 1x, img/contact-us/contact-us-mob@2x.webp 2x">
  <source media="(min-width: 768px)" srcset="img/contact-us/contact-us-mob.webp 1x, img/contact-us/contact-us@2x.webp 2x">
  <img src="img/contact-us/contact-us-mob.webp" alt="Image description">
</picture>    
  </div>
</section>
