<footer class="footer">
  <div class="container">
    <div class="container-footer-logo">
      <a href="#" class="footer-logo">watchcharm</a>
      <ul class="footer-list-icons">
        <li class="footer-item-icons">
          <a href="" class="footer-link-icons">
            <svg class="footer-icons" width="" height="">
              <use href="../img/"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icons"></li>
        <li class="footer-item-icons"></li>
      </ul>
    </div>
  </div>
</footer>
