<section class="hero">
  <div class="container welcome-container">
    <div class="title-container">
      <h1 class="welcome-title">
        Welcome to our
        <div class="span">collection</div>
        of premium watches
      </h1>
      <p class="welcome-description">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="scroll">
      <svg class="svg-icon">
        <use href="../img/photo.svg#photo"></use>
      </svg>
      <a class="scroll-link" href="#">Scroll down</a>
    </div>
    <img src="../img/hero-img/hero-mobile.webp" alt="hero">
  </div>


        <!-- <picture>
          <source media="(min-width: 1280px)" srcset="
                  ../img/hero-img/hero-img.webp 1x,
                  ../img/hero-img/hero-img@2x.webp.jpg 2x
                " />
          <source media="(min-width: 768px)" srcset="../img/hero-img/hero-tab.webp 1x,
                ../images/our-team/hero-tab@2x.jpg 2x" />
          <source media="(max-width: 767px)" srcset="
                  ../img/hero-img/hero-mobile.webp 1x,
                  ./images/our-team/hero-mobile@2x.jpg 2x
                " />
          <img src="../img/hero-img/hero-img.webp" alt="hero" class="portret" />
        </picture> -->

</section>
