.sale {
}
.container.sale-container {
}
.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 24px;
}
.sale-content {
}
.watch-pics-wrapper {
}
.watch-pics-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
}
.watch-pics-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
  width: calc((100% - 5px) / 3);
  padding: 13px 14px;
}
.watch-main-pic-wrapper {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  padding: 50px;
}
.watch-description {
  background-color: #3350e9;
  border-radius: 30px;
  padding: 48px 28px;
}
.watch-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  margin-bottom: 10px;
}
.watch-article {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);

  margin-bottom: 20px;
}
.watch-price-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  margin-bottom: 28px;
}
.watch-price-item {
}
.watch-price-item.first {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
}
.watch-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.watch-old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}
.watch-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);

  margin-bottom: 28px;
}
.watch-tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px 8px;
}
.watch-tag-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}
.watch-tag-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
}

/* #region Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .sale-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .watch-pics-list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
  }

  .watch-pics-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 20px;
    width: 132px;
    padding: 16px 18px;
  }
}
/* #endregion Styles for Tablet devices */
